<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card-body">
                    <h4 class="card-title"><h3>LOGIN TABLE</h3></h4>

 {% csrf_token %}
                    <div class="table-responsive">
                      <table class="table table-bordered table-contextual">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Email </th>
                            <th> Number </th>
                            <th> UserName </th>
                            <th> Password </th>

                              <th>Image</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.Name}}</td>
                            <td>{{d.Email}}</td>
                            <td>{{d.Number}}</td>
                            <td>{{d.UserName}}</td>
                            <td>{{d.Password}}</td>

                            <td>
                            <img src="{{ d.Image.url}}">
                            </td>

                            <td>
                                <form action="{% url 'pageEdit' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">EDIT</button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'Deletedata' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">DELETE</button>
                                </form>
                            </td>

                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>


</body>
</html>
{% endblock %}